---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: trashedresources.mox.app.br
spec:
  group: mox.app.br
  names:
    kind: TrashedResource
    listKind: TrashedResourceList
    plural: trashedresources
    singular: trashedresource
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: TrashedResource is the Schema for the TrashedResource API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: TrashedResourceSpec defines the desired state of TrashedResource.
            properties:
              data:
                description: Data is the YAML content of the deleted resource
                type: string
              keepUntil:
                type: string
            required:
            - data
            - keepUntil
            type: object
          status:
            description: TrashedResourceStatus defines the observed state of TrashedResource.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
